:root{
  --black:#000,
  --white:#fff,
}

body {
  background-color: var(--black);
  background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQEBfsxp2_XFKQ/profile-displayphoto-shrink_800_800/0/1590007097428?e=1641427200&v=beta&t=xEuqmdsm0yM2bAncH9yq9sxIV1q5HYcpiuCiVdCWhgU);
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  min-height: 100%;
}
